@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Montserrat:wght@700&display=swap');

html {
    font-size: 62.5%;
    background: url("background.jpg") center/cover no-repeat fixed;
}

body {
    color: #fff;
    max-width: 800px;
    margin: 50px auto;
    line-height: 1.6;
    padding: 20px;
}

header {
    background: rgba(0, 0, 0, .9);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}

ul.main-menu {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

ul.main-menu li {
    margin: 0 15px;
}

ul.main-menu li a {
    font-size: 1.8rem;
    color: #cfd2da;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
}

ul.main-menu li a:hover, ul.main-menu li a.active {
    color: #fff;
    border-bottom-color: #EF6D3D;
}

.gif-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: 15px auto;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    background: black;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8);
}

.gif-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.hide {
    display: none;
}

.content-box {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

p {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}